{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="">
          LOGO
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-link px-3 me-2 text-theme">
            <a href="{% url 'logout' %}">Log Out</a>
        </button>
       
        {% else %}
        <button type="button" class="btn btn-link px-3 me-2 text-theme">
            <a href="{% url 'login' %}">Log In</a>
        </button>
        <button type="button" class="btn btn-link px-3 me-2 text-theme">
          <a href="{% url 'signup' %}">Sign up for free</a>
        </button>
        {% endif %}


      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
 <br>
{% if user.is_authenticated %}
<div class="card text-center">
 
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Welcome on board {{ user.get_full_name }}! </p>
      <footer class="blockquote-footer">You are successfully logged in</footer>
    </blockquote>
  </div>
</div>

<div class="container-fluid headerBal">

<div class ="row">
  <div class="col-12">
  <div class = "betForm" id = "betForm" style="display: none; position: absolute; height: 700px; width: 100%; background-color: black; z-index:10">

    <div class="container-fluid">
      <div class="row justify-content-center mt-2">
        <div class="col-4 text-center bg-light">
          <div style="background-color: White; height:40px;" id="colorHeadBanner">
            <span id ="colorHead"> </span>
          </div><br><br>

          <form action="/" method="POST">
            {% csrf_token %}

           <input type="number" name="amount" placeholder="Amount"><br><br> 
           <input type="hidden" name="event_id" placeholder="id" value="{{event}}"><br><br> 
           <input type="text" name="colour" placeholder="colour"><br><br> 
           <input type="submit" name="submit"> 
          </form>


          <button type="button" class="btn btn-light" onclick="closeBetForm();">Close</button>
        </div>
      </div>
    </div>
    
  </div>
  </div>
</div>

  
  <div class="row">
    <div class="col-12">
      
      <span>Available balance : {{ user.available_Balance }}</span>
      <br>
      <button type="button" class="btn btn-success">Recharge</button>
      <button type="button" class="btn btn-light">Read Rule</button>
      <br>
      <span>Refresh</span>
    </div>

  </div>
</div>


<div class="container-fluid headerGameSec">
  
  <div class="row">
    <div class="col-12">
      <span>My Game</span>   
    </div>
  </div>
</div>

<div class="container-fluid headerGameArea">
  
  <div class="row">
    <div class="col-6">
      <span>Period</span>   
    </div>
    <div class="col-6">
      <span>Count Down</span> 
      <p id="timer"></p>  
    </div>
  </div>


<div class="row">
    <div class="col-4 text-center p-1">
        <button type="button" class="btn btn-danger" id="red">Join Red</button>
    </div>
    <div class="col-4 text-center p-1">
      <button type="button" class="btn btn-success" id="green">Join Green</button> 
    </div>
     <div class="col-4 text-center p-1">
      <button type="button" class="btn btn-primary" id="blue">Join Blue</button> 
    </div>
  </div>

  



</div>


<div class="container-fluid ParityRecord">
  
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <span>Parity Record</span>
    </div>

  </div>
 {% for event in events %}
  <div class="row">
    <div class="col-3 text-center">
      <span>Period : {{event.event.id}} </span>
    </div>

    <div class="col-3 text-center">
      <span>Price</span>
    </div>
    <div class="col-3 text-center">
      <span>Number</span>
    </div>
    <div class="col-3 text-center">
      <span>{{event.colour}}</span>
    </div>

  </div>
  {% endfor %}
</div>




<p id="demo1"></p>
<p id="demo"></p>







{% else %}
<div class="card text-center">
  
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>You are not logged in</p>

    </blockquote>
  </div>
</div>
{% endif %}

<script>
// Set the date we're counting down to


// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = 1644250563800*10 - now;
  
  
    
  // Time calculations for days, hours, minutes and seconds
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60) % 3);
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  
  document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";
    
  // If the count down is over, write some text 
  if (seconds <= 0 && minutes <= 0) {
    clearInterval(x);
    location.reload();
    
  }
}, 100);



  const button = document.getElementById('red');
    const button2 = document.getElementById('green');
    const button3 = document.getElementById('blue');

    let value = 0;

    let elementClicked = false;

    button.addEventListener('click', function handleClick() {
      if (elementClicked) {
      return;
      }
      document.getElementById('red').style.backgroundColor ="lightblue";
      document.getElementById('red').style.color ="blue";
      document.getElementById('red').style.transform ="scale(1.1,1.1)";

      document.getElementById('betForm').style.display ="block";
      document.getElementById('colorHeadBanner').style.backgroundColor="Red";
      document.getElementById('colorHead').innerHTML = "Join RED";
      value ="Red";

      elementClicked = true;
    });

    button2.addEventListener('click', function handleClick() {
      if (elementClicked) {
      return;
      }
      document.getElementById('green').style.backgroundColor ="lightgreen";
      document.getElementById('green').style.color ="green"
      document.getElementById('green').style.transform ="scale(1.1,1.1)";

      document.getElementById('betForm').style.display ="block";
      document.getElementById('colorHeadBanner').style.backgroundColor="Green";
      document.getElementById('colorHead').innerHTML = "Join GREEN";
      value = "Green";

      elementClicked = true;
    });

     button3.addEventListener('click', function handleClick() {
      if (elementClicked) {
      return;
      }
      document.getElementById('blue').style.backgroundColor ="lightgreen";
      document.getElementById('blue').style.color ="green"
      document.getElementById('blue').style.transform ="scale(1.1,1.1)";
      document.getElementById('betForm').style.display ="block";

      document.getElementById('colorHeadBanner').style.backgroundColor="lightblue";
      document.getElementById('colorHead').innerHTML = "Join BLUE";
      value = "Blue";

      elementClicked = true;
    });


     function closeBetForm(){
      document.getElementById('betForm').style.display ="none";
     }


</script>
{% endblock %}
